<header class="flex flex-col items-center h-[80vh] justify-center p-3 gap-5">
  <h1 class="text-4xl">Pet-A-Pet</h1>
  <p class="text-center text-2xl">A charitable project where you can sponsor and donate to our pets so that they are closer to fulfilling their dreams, of being the next soccer superstar!</p>
  <button class="text-3xl bg-[#8B2635] text-white rounded-lg p-3"><%= link_to "See pets", pets_path %></button>
</header>
