<section class="flex flex-col h-[80vh] justify-center items-center gap-10">
  <h2 class="md:text-6xl text-4xl text-center">Total collected by our foundation</h2>
  <h3 class="md:text-5xl text-2xl bg-[#8B2635] rounded-lg md:p-10 p-5 text-white"><%= @donations %> PetCoins</h3>
</section>